{% extends "base.html" %} 
{% block content %} 
<div class="page-header">
    <h1>About us | Nomad Script</h1>
</div>

<div class="decorative-line">
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="about-grid">
    <div>
        <h2>Our Mission</h2>
        <p>
            At Nomad Script, we are dedicated to preserving and revitalizing the traditional Mongolian script 
        through interactive learning and modern technology. Our platform serves as both an educational tool for 
        beginners and a collaborative space for fluent users to contribute to a growing dataset of handwritten 
        Mongolian letters.
        </p>
    </div>
    <div class="image-container about-img">
        <img src="/static/images/web/about1.jpeg" alt="Masked Mongolian Dancer">
    </div>
    <div class="image-container about-img">
        <img src="/static/images/web/about2.jpg" alt="Mongolian Riders">
    </div>
    <div>
        <h2>Our Vision</h2>
        <p>
            Our near term plan is to increase the number of supported languages to reach even wider audience, and add
            interactive events such as leaderboard for contributors and more engaging video lessons for the beginners.
            Our broader vision is to remain an open-source project while expanding with additional tools, such as an API 
            for direct database access. 
        </p>
    </div>
    <div>
        <h2>Join Us!</h2>
        <p>
            Become a part of the movement to keep Mongolian script alive! Whether you’re here to learn, 
        contribute, or explore, your participation makes a difference. Start your journey today and help 
        shape the future of Mongolian script recognition.
        </p>
    </div>
    <div class="image-container about-img">
        <img src="/static/images/web/about3.jpg" alt="Ulaanbaatar City">
    </div>
</div>
{% endblock %}