{% extends "base.html" %} 
{% block content %} 
  
<div class="hero">
    <div class="main-intro">
        <h2>Home | Nomad Script</h2>
        <h3>Preserve and Learn the Traditional Mongolian Script</h3>
        <p>
            An interactive platform where you can practice, contribute, 
        and help build the future of Mongolian script recognition.
        </p>

        <a class="cta-button teal" href="/learn">Start Learning</a>
        <a class="cta-button beige" href="/contribute">Contribute a Letter</a>
    </div>
    <div class="main-image">
        <img src="/static/images/web/hero.jpg" alt="'Mongolian language' written in traditional Mongolian" >
    </div> 
</div>

{% endblock %}

